.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
}

.projects__featured {
  max-width: 1100px;
  margin: 2em auto;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
}
