.item {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  border-radius: 4px;
}

.item:hover {
  transform: translateY(-7px);
}

.company {
  margin-top: 1em;
}

.item__description {
  margin-top: 1em;
}

.item__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}



.item__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.item .link--icon {
  margin-left: 0.5em;
}

.about__desc,
.about__contact {
  margin-bottom: 2.4em;
  display: flex;
  justify-content: center; /* center the content horizontally */
  align-items: center; /* center the content vertically */
}


#launch-btn {
  margin-left: 10px;
  }

  .btn--outline {
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center; /* center the content horizontally */
    align-items: center; /* center the content vertically */
  }